* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calculator", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1f9699;
  color: white;
}

main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 50px;
}

.height,
.weight,
.calc {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

input,
button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #197779;
  color: white;
}

button:hover {
  background-color: #156365;
}

#result {
  font-size: 30px;
}

footer {
  font-size: 20px;
  padding: 150px;
}

@media (max-width: 500px) {
  body,
  input,
  button {
    font-size: 15px;
  }
}
